## Singular value decomposition
##### Name: Poojan Solanki
##### Enrollment Number: 21C21148

source: https://github.com/Ayoub-etoullali/SVD-Singular-Value-Decomposition/blob/main/Implementation%20of%20SVD%20in%20Python%20using%20Numpy.ipynb

In [57]:
import numpy as np
import pandas as pd

In [58]:
df = pd.read_csv("bfi.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2800 entries, 0 to 2799
Data columns (total 29 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   rownames   2800 non-null   int64
 1   A1         2784 non-null   float64
 2   A2         2773 non-null   float64
 3   A3         2774 non-null   float64
 4   A4         2781 non-null   float64
 5   A5         2784 non-null   float64
 6   C1         2779 non-null   float64
 7   C2         2776 non-null   float64
 8   C3         2780 non-null   float64
 9   C4         2774 non-null   float64
 10  C5         2784 non-null   float64
 11  E1         2777 non-null   float64
 12  E2         2784 non-null   float64
 13  E3         2775 non-null   float64
 14  E4         2791 non-null   float64
 15  E5         2779 non-null   float64
 16  N1         2778 non-null   float64
 17  N2         2779 non-null   float64
 18  N3         2789 non-null   float64
 19  N4         2764 non-null   float64
 20  N5         2771 non-null   float64
 21  O1         2778 non-null   float64
 22  O2         2800 non-null   int64
 23  O3         2772 non-null   float64
 24  O4         2786 non-null   float64
 25  O5         2780 non-null   float64
 26  gender     2800 non-null   int64
 27  education  2577 non-null   float64
 28  age        2800 non-null   int64
dtypes: float64(25), int64(4)
memory usage: 634.5 KB

In [59]:
df.drop(['rownames','gender','education','age'], axis=1, inplace=True)

In [60]:
df.dropna(inplace=True)

In [61]:
df

,A1,A2,A3,A4,A5,C1,C2,C3,C4,C5,...,N1,N2,N3,N4,N5,O1,O2,O3,O4,O5
0,2.0,4.0,3.0,4.0,4.0,2.0,3.0,3.0,4.0,4.0,...,3.0,4.0,2.0,2.0,3.0,3.0,6,3.0,4.0,3.0
1,2.0,4.0,5.0,2.0,5.0,5.0,4.0,4.0,3.0,4.0,...,3.0,3.0,3.0,5.0,5.0,4.0,2,4.0,3.0,3.0
2,5.0,4.0,5.0,4.0,4.0,4.0,5.0,4.0,2.0,5.0,...,4.0,5.0,4.0,2.0,3.0,4.0,2,5.0,5.0,2.0
3,4.0,4.0,6.0,5.0,5.0,4.0,4.0,3.0,5.0,5.0,...,2.0,5.0,2.0,4.0,1.0,3.0,3,4.0,3.0,5.0
4,2.0,3.0,3.0,4.0,5.0,4.0,4.0,5.0,3.0,2.0,...,2.0,3.0,4.0,4.0,3.0,3.0,3,4.0,3.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2793,3.0,4.0,3.0,1.0,3.0,5.0,4.0,5.0,3.0,4.0,...,5.0,6.0,5.0,5.0,6.0,6.0,1,4.0,5.0,2.0
2794,5.0,5.0,5.0,5.0,3.0,5.0,4.0,2.0,3.0,5.0,...,4.0,5.0,3.0,5.0,2.0,6.0,1,5.0,6.0,2.0
2797,2.0,3.0,5.0,2.0,5.0,5.0,5.0,5.0,1.0,1.0,...,3.0,4.0,3.0,3.0,1.0,5.0,1,6.0,4.0,3.0
2798,5.0,2.0,2.0,4.0,4.0,5.0,5.0,5.0,2.0,6.0,...,5.0,5.0,6.0,4.0,1.0,5.0,2,5.0,5.0,1.0
2799,2.0,3.0,1.0,4.0,2.0,5.0,5.0,3.0,3.0,3.0,...,1.0,2.0,2.0,1.0,1.0,3.0,1,3.0,5.0,1.0

- $ U $ is eigen vectors of $ A  A^T $
- $ V $ is eigen vectors of $ A^T A $
- $ S $ is singular values $( \sqrt \lambda )$

In [62]:
U, sigma, Vt = np.linalg.svd(df)

In [63]:
sigma

array([957.77640601, 162.39277131, 105.00052154,  97.63268061,
        91.59685612,  82.63985291,  66.35056616,  65.27202347,
        60.76071313,  58.88788329,  57.98758848,  54.20634519,
        53.90198375,  52.43265225,  51.63706156,  49.09480414,
        48.66607806,  47.20613097,  46.19790091,  45.08838463,
        44.44280038,  42.83246955,  42.5301888 ,  40.61153441,
        38.54595755])

#### Checking if we can remake the original matrix using U, Sigma, Vt

In [64]:
df.shape, U.shape, sigma.shape, Vt.shape

((2436, 25), (2436, 2436), (25,), (25, 25))

In [83]:
new_sigma = np.zeros((2436, 25))
np.fill_diagonal(new_sigma, sigma)
print(df)
df_remake = (U @ new_sigma @ Vt)
df_remake = pd.DataFrame(df_remake)
print(df_remake)

       A1   A2   A3   A4   A5   C1   C2   C3   C4   C5  ...   N1   N2   N3  \
0     2.0  4.0  3.0  4.0  4.0  2.0  3.0  3.0  4.0  4.0  ...  3.0  4.0  2.0
1     2.0  4.0  5.0  2.0  5.0  5.0  4.0  4.0  3.0  4.0  ...  3.0  3.0  3.0
2     5.0  4.0  5.0  4.0  4.0  4.0  5.0  4.0  2.0  5.0  ...  4.0  5.0  4.0
3     4.0  4.0  6.0  5.0  5.0  4.0  4.0  3.0  5.0  5.0  ...  2.0  5.0  2.0
4     2.0  3.0  3.0  4.0  5.0  4.0  4.0  5.0  3.0  2.0  ...  2.0  3.0  4.0
...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
2793  3.0  4.0  3.0  1.0  3.0  5.0  4.0  5.0  3.0  4.0  ...  5.0  6.0  5.0
2794  5.0  5.0  5.0  5.0  3.0  5.0  4.0  2.0  3.0  5.0  ...  4.0  5.0  3.0
2797  2.0  3.0  5.0  2.0  5.0  5.0  5.0  5.0  1.0  1.0  ...  3.0  4.0  3.0
2798  5.0  2.0  2.0  4.0  4.0  5.0  5.0  5.0  2.0  6.0  ...  5.0  5.0  6.0
2799  2.0  3.0  1.0  4.0  2.0  5.0  5.0  3.0  3.0  3.0  ...  1.0  2.0  2.0

       N4   N5   O1  O2   O3   O4   O5
0     2.0  3.0  3.0   6  3.0  4.0  3.0
1     5.0  5.0  4.0   2  4.0  3.0  3.0
2     2.0  3.0  4.0   2  5.0  5.0  2.0
3     4.0  1.0  3.0   3  4.0  3.0  5.0
4     4.0  3.0  3.0   3  4.0  3.0  3.0
...   ...  ...  ...  ..  ...  ...  ...
2793  5.0  6.0  6.0   1  4.0  5.0  2.0
2794  5.0  2.0  6.0   1  5.0  6.0  2.0
2797  3.0  1.0  5.0   1  6.0  4.0  3.0
2798  4.0  1.0  5.0   2  5.0  5.0  1.0
2799  1.0  1.0  3.0   1  3.0  5.0  1.0

[2436 rows x 25 columns]
       0    1    2    3    4    5    6    7    8    9   ...   15   16   17  \
0     2.0  4.0  3.0  4.0  4.0  2.0  3.0  3.0  4.0  4.0  ...  3.0  4.0  2.0
1     2.0  4.0  5.0  2.0  5.0  5.0  4.0  4.0  3.0  4.0  ...  3.0  3.0  3.0
2     5.0  4.0  5.0  4.0  4.0  4.0  5.0  4.0  2.0  5.0  ...  4.0  5.0  4.0
3     4.0  4.0  6.0  5.0  5.0  4.0  4.0  3.0  5.0  5.0  ...  2.0  5.0  2.0
4     2.0  3.0  3.0  4.0  5.0  4.0  4.0  5.0  3.0  2.0  ...  2.0  3.0  4.0
...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
2431  3.0  4.0  3.0  1.0  3.0  5.0  4.0  5.0  3.0  4.0  ...  5.0  6.0  5.0
2432  5.0  5.0  5.0  5.0  3.0  5.0  4.0  2.0  3.0  5.0  ...  4.0  5.0  3.0
2433  2.0  3.0  5.0  2.0  5.0  5.0  5.0  5.0  1.0  1.0  ...  3.0  4.0  3.0
2434  5.0  2.0  2.0  4.0  4.0  5.0  5.0  5.0  2.0  6.0  ...  5.0  5.0  6.0
2435  2.0  3.0  1.0  4.0  2.0  5.0  5.0  3.0  3.0  3.0  ...  1.0  2.0  2.0

       18   19   20   21   22   23   24
0     2.0  3.0  3.0  6.0  3.0  4.0  3.0
1     5.0  5.0  4.0  2.0  4.0  3.0  3.0
2     2.0  3.0  4.0  2.0  5.0  5.0  2.0
3     4.0  1.0  3.0  3.0  4.0  3.0  5.0
4     4.0  3.0  3.0  3.0  4.0  3.0  3.0
...   ...  ...  ...  ...  ...  ...  ...
2431  5.0  6.0  6.0  1.0  4.0  5.0  2.0
2432  5.0  2.0  6.0  1.0  5.0  6.0  2.0
2433  3.0  1.0  5.0  1.0  6.0  4.0  3.0
2434  4.0  1.0  5.0  2.0  5.0  5.0  1.0
2435  1.0  1.0  3.0  1.0  3.0  5.0  1.0

[2436 rows x 25 columns]